@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-xl;
}

select,
input,
button,
.button {
  @apply border border-black rounded;
}

input {
  @apply px-1;
}

input[type='range'] {
  accent-color: #800000;
}

button,
.button {
  @apply bg-slate-300 transition-all px-4 text-nowrap;

  &:not(:disabled) {
    @apply hover:bg-slate-400 hover:cursor-pointer;
  }

  &:disabled {
    @apply cursor-default bg-slate-200 text-slate-600 border-slate-600;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

hr {
  @apply border-b-2 border-black;
}
